<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  </head>

  <body>
    <div class="content-user">
      <header class="main-header">
        <div class="logo">
          <% @infos.each do |info| %>
            <% if info.logo.url.present? %>
                <%= link_to root_path, :title => "Home" do %>
                  <%= image_tag(info.logo.url) %>
                <% end %>
            <% end %>
          <% end %>
        </div>

        <nav class="menu">
          <ul>
            <li>
              <%= link_to infos_path, :title => "Sobre" do %>
                Sobre
              <% end %>
            </li>

            <li>
              <%= link_to jobs_path, :title => "Cases" do %>
                Cases
              <% end %>
            </li>
            <li>
              <% @infos.each do |info| %>
                <%= link_to info.wpp, :title => "Whatsapp",target: :_blank do %>
                  Contato
                <% end %>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>

      <%= yield %>

      <footer class="main-footer">

        <% @infos.each do |info| %>
          <nav class="social">
            <ul>
              <li>
                <%= link_to info.wpp, :title => "Whatsapp",target: :_blank do %>
                  <%= image_tag("whatsapp.png", :alt => "Whatsapp") %>
                <% end %>
              </li>

              <li>
                <%= link_to info.instagram, :title => "Instagram",target: :_blank do %>
                  <%= image_tag("instagram.png", :alt => "Instagram") %>
                <% end %>
              </li>
              
              <li>
                <%= link_to info.facebook, :title => "Facebook",target: :_blank do %>
                  <%= image_tag("facebook.png", :alt => "Facebook") %>
                <% end %>
              </li>
            </ul>
          </nav>

          <div class="infos-contact">
            <span class="name"><%= info.name %></span>
            <br>
            <span><a href="tel:<%= info.tel %>"><strong><%= info.tel %></strong></a></span>
          </div>
        <% end %>
      </footer>
    </div>
  </body>
</html>
